block variables

- var tool = tools.find((t) => t.name == this_tool);

//- Form Mixins
mixin dataSelection(label)
    .form-group
        label= label
        .noDataNotif.text-center No Data Selected
        .dataSelection(data-name!=attributes.name)
            if (attributes.type == "table")
                table.table.table-sm.table-responsive.table-hover.mb-0
                    tbody
            else if (attributes.type == "select")
                select.form-control
        hr.mb-0

mixin input(label)
    .form-group
        label= label
        input.setting.form-control(
            name!=attributes.name
            type!=attributes.type
            placeholder!=attributes.placeholder
            data-default!=attributes.default
            required!=attributes.required
        )
        if (attributes.caption)
            small.form-text.text-muted!= attributes.caption

mixin select(label)
    .form-group
        label= label
        select.setting.form-control(name!=attributes.name)
            each option in attributes.options
                option(selected=(option == attributes.default))= option

mixin checkbox(label)
    .form-group
        label &nbsp;
        label.custom-form-check-label.form-control
            input.setting.custom-form-check-input(type="checkbox" name!=attributes.name)
            | #{label}

//- Card Layout
.card.tool-card.mb-3
    button.btn.card-header.text-left.bg-white.collapsed(data-toggle='collapse' href=`#${tool.func}`)
        h4.mb-0 #{tool.name} &nbsp;
            .float-right.fa.fa-chevron-down
            .d-inline.small.text-muted.float-right #{tool.version} &nbsp;
    .collapse(id=tool.func)
        .card-body
            block settings
            button.btn.btn-primary.float-right.mb-3(onclick=`runTool("${tool.func}")`) Run