- var tool_name = 'Tool A';
- var tool_func = 'Tool_A';

.card(id=tool_name)
    button.btn.card-header(
        data-toggle='collapse'
        data-target=`.card[id='${tool_name}'] > .collapse`
    ) #{tool_name}
    .collapse
        .card-body
            //- SETTINGS
            button.btn.btn-primary.float-right.mb-3(onclick=`runTool("${tool_name}")`) Run