extends layout

block content
    .container#job-page
        .row
            .col
                .clearfix
                    h2.float-left !{`<i class="fa fa-circle" style="color:${!job.meta.finished_at ? "orange" : job.meta.error ? "red" : "green"}"></i> Job ` + job.meta.created_at}
                    button.btn.btn-light.text-danger.float-right#btnDelete(onclick=`deleteJob(${job.meta.created_at})`) DELETE
                    .clear-left
                        p.mb-0 Created:&nbsp;
                            span#created_at(data-timestamp=job.meta.created_at)
                        p.mb-0 Finished:&nbsp;
                            span#finished_at(data-timestamp=job.meta.finished_at)
                        p.mb-0 Tool: #{job.meta.tool}
                        p Datafile: #{job.meta.file}
                
                nav.nav.nav-tabs(role="tablist")
                    a#nav-result-tab.nav-item.nav-link(data-toggle="tab" href="#nav-result" role="tab" aria-controls="nav-result" aria-selected="true").active #{job.meta.error ? "Error" : "Result"}
                    a#nav-log-tab.nav-item.nav-link(data-toggle="tab" href="#nav-log" role="tab" aria-controls="nav-log" aria-selected="false") Log
                    a#nav-chart-tab.nav-item.nav-link(data-toggle="tab" href="#nav-chart" role="tab" aria-controls="nav-chart" aria-selected="false" style=`display: ${job.meta.tool == "bloom_filter" ? "block" : "none"}` onclick=`getChart(${job.meta.created_at})`) Chart
                .tab-content.p-2.bg-white.border.border-top-0
                    #nav-result.tab-pane(role="tabpanel" aria-labelledby="nav-result-tab").show.active #{job.meta.error || job.result || "[PENDING]"}
                    #nav-log.tab-pane(role="tabpanel" aria-labelledby="nav-log-tab") #{job.meta.log || "[PENDING]"}
                    #nav-chart.tab-pane(role="tabpanel" aria-labelledby="nav-chart-tab" style="height:550px")
                        iframe#chart-frame(style="width:100%;height:99%;border:none;")

block scripts
    script(src="/js/job.js")